<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/aboutMe.css">
    <title>About Me</title>
</head>
<body>
    <div class="container">
        <div class="profile">
            <img src="/static/images/profile_image.jpg" alt="Mehmet" class="profile-img">
            <h1 class="name">Mehmet ALAN</h1>
        </div>
        <div class="about-content">
            <h2>About Me</h2>
            <p class="intro">Hello, my name is Mehmet. I am an Electrical and Electronics Engineer with experience in automation systems.</p>
            <p>I have been involved in the design of SCADA and HMI panels and have programmed PLCs from Siemens, Hitachi, Schneider, and Phoenix using TIA Portal and Codesys. Currently, I am actively developing my skills in the mobile application development sector. My entry into the mobile app industry began during my senior year at university when I took on a project to develop a mobile app for COVID-19 testing, thanks to an academic mentor I admired.</p>
            <p>Although it has been two years since then, I have dedicated myself to developing applications for both iOS and Android platforms without interruption for the past year. I strive to master all frameworks in this field, avoiding reliance on a single one. As a result, I have developed mobile applications using Android Studio, Xcode, Flutter, and React Native.</p>
            <p>My expertise is primarily in the front-end, but I am also improving my back-end skills. Recently, I have been enhancing my knowledge in cybersecurity, as I believe the importance of cybersecurity will increase significantly in the future. Therefore, I focus on creating highly secure applications that prevent data breaches and protect users’ information. You can contact me via my social media accounts, email address, or through the contact section. Happy coding!</p>
        </div>
    </div>
</body>
</html>
