<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/mwdcProjects.css">
    <title>Desktop Projects</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <h1>Desktop Projects</h1>
    <div class="card-container">
        <a href="{% url 'crmDesktop' %}" class="card">
            <h2>CRM App With PyQt5</h2>
            <p class="iosColor">(DESKTOP)</p>
            <hr>
            <p class="technologiesText">Technologies</p>
            <div class="technologies">
                <p>Language: Python</p>
                <img src="/static/icons/python.png" alt="Swift Icon">
            </div>
            <div class="technologies">
                <p>Library: PyQt5</p>
                <img src="/static/icons/pyqt5.png" alt="Swift UI Icon">
            </div>
            <div class="technologies">
                <p>Database: SQLite3</p>
                <img src="/static/icons/sqlite.png" alt="Firebase Icon">
            </div>
            <div class="technologies">
                <p>Paradigm: OOP</p>
                <img src="/static/icons/mvvm.png" alt="MVVM Icon">
            </div>
            <div class="technologies">
                <p>Architecture: MVC</p>
                <img src="/static/icons/mvc.png" alt="MVVM Icon">
            </div>
            <hr>
            <p>This project is a desktop application built using Python and PyQt5, following the Model-View-Controller (MVC) design pattern. It leverages SQLite3 for efficient data management and employs Object-Oriented Programming (OOP) principles to ensure scalability and maintainability. The application offers a user-friendly interface and robust functionality for streamlined operations.</p>
        </a>
    </div>
</body>
</html>
